defaultText {
  font-size: 32;
  font-family: Seville-Regular;
  font-weight: regular;
  text-length: 32;
}

.activityText {
  fill: white;
  text-length: 32;
  text-anchor: middle;
  font-family: Seville-Condensed;
}

#background {
  width: 100%;
  height: 100%;
  fill: #000000;
}

.clock-text {
  font-family: Seville-Regular;
  font-size: 86;
  text-anchor: end;
  text-length: 10;
  x: 100%;
  y: 65%;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

.date-text {
  font-family: Seville;
  font-size: 18;
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 100%;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

.divider {
  x: 25%;
  width: 100%;
  height: 7;
}

.divider-top {
  y: 0%;
}

.divider-btm {
  y: 100%-18-15-5;
}

.linear-gradient{
    gradient-type: linear;
    gradient-x1: 0;
    gradient-y1: 0;
    gradient-x2: 100%;
    gradient-y2: 0;
    gradient-color1: #000000;
    gradient-color2: #000000;
}

.arc-style{
    fill: fb-extra-dark-gray;
    start-angle: 0;
}

.arc-style-front{
    y: 0;
    width: 90;
    height: 90;
    arc-width: 9;
    sweep-angle: 250;
}

.arc-style-back{
    y: 2;
    width: 86;
    height: 86;
    arc-width: 5;
    sweep-angle: 360;
}

.image-style{
    y: 0;
    width: 90;
    height: 90;
}